{% extends 'base.html' %}

{% block title %}
  <title>Contact Page</title>
{% endblock title %}

{% block content %}
  <div class="container mt-3">
    <!-- <h4>{{ contact_text }}</h4>-->
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="h5 mt-3  text-primary font-weight-bolder">Kontak Kami lebih dekat</p>
          <p class="h6 text-info font-weight-normal">Dengan senang hati jika Anda menghubungi Kami dan butuh bantuan Kami.</p>
          <p class="h6 text-info font-weight-normal">Silhkan hubungi email</p>
          <p class="h6 text-info text-monospace">wawanhn@gmail.com</p>
        </div>
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
         
        </div>
      </div>
    </div>
    
  </div>
{% endblock content %}
